<%= form_with(model: quiz) do |form| %>
  <% if quiz.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(quiz.errors.count, t('quizzes.form.error')) %> <%= t('quizzes.form.prohibited') %></h2>

      <ul>
        <% quiz.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :content, style: "display: block" %>
    <%= form.text_area :content %>
  </div>

  <div>
    <%= form.label :quiz_image, style: "display: block" %>
    <%= form.text_field :quiz_image %>
  </div>

  <div>
    <%= form.label :explanation, style: "display: block" %>
    <%= form.text_area :explanation %>
  </div>

  <div>
    <%= form.label :explanation_image, style: "display: block" %>
    <%= form.text_field :explanation_image %>
  </div>

  <%= form.fields_for :choices do |choice_form| %>
    <div>
      <%= choice_form.label :content, style: "display: block" %>
      <%= choice_form.text_area :content %>
    </div>

    <div>
      <%= choice_form.label :choice_image, style: "display: block" %>
      <%= choice_form.text_field :choice_image %>
    </div>

    <div>
      <%= choice_form.label :is_correct, style: "display: block" %>
      <%= choice_form.check_box :is_correct %>
    </div>

    <div>
      <%= choice_form.label :explanation, style: "display: block" %>
      <%= choice_form.text_area :explanation %>
    </div>

    <div>
      <%= choice_form.label :explanation_image, style: "display: block" %>
      <%= choice_form.text_field :explanation_image %>
    </div>

    <% if @quiz.persisted? %>
      <div>
        <%= choice_form.label :_destroy, t('quizzes.form.remove_choice'), style: "display: block" %>
        <%= choice_form.check_box :_destroy %>
      </div>
    <% end %>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
