<%= form_with(model: quiz) do |form| %>
  <% if quiz.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(quiz.errors.count, t('quizzes.form.error')) %> <%= t('quizzes.form.prohibited') %></h2>

      <ul>
        <% quiz.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, t('quizzes.form.quiz_title'), style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :content, t('quizzes.form.quiz_content'), style: "display: block" %>
    <%= form.text_area :content %>
  </div>

  <div>
    <%= form.label :image, t('quizzes.form.quiz_image'), style: "display: block" %>
    <%= form.text_field :image %>
  </div>

  <%= form.fields_for :choices do |choice_form| %>
    <div>
      <%= choice_form.label :content, t('quizzes.form.choice_content'), style: "display: block" %>
      <%= choice_form.text_area :content %>
    </div>

    <div>
      <%= choice_form.label :image, t('quizzes.form.choice_image'), style: "display: block" %>
      <%= choice_form.text_field :image %>
    </div>

    <div>
      <%= choice_form.label :is_correct, t('quizzes.form.is_correct'), style: "display: block" %>
      <%= choice_form.check_box :is_correct %>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
