<div class="container flex justify-center">
  <%= form_with(model: quiz) do |form| %>
    <% if quiz.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(quiz.errors.count, t('quizzes.form.error')) %> <%= t('quizzes.form.prohibited') %></h2>

        <ul>
          <% quiz.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="">
      <div class="my-5">
        <h4 class="">
          <div class="badge badge-error "><%= t('items.new.required') %></div>
          <%= form.label :category, style: "display: block", class: "font-bold"%>
        </h4>
          <%= form.select :category, ["HTML / CSS", "JavaScript", "Ruby", "Ruby on Rails", "RSpec", "PHP", "Laravel", "SQL", "AWS", "Docker", "Git / GitHub", "Web技術の基本（サーバ、ネットワーク、データベース等）", "プロダクト開発（初めてのポートフォリオ作り）"],class: "select select-bordered  select-success w-full max-w-xs" %>
      </div>

      <div class="my-5">
        <h4 class="">
          <div class="badge badge-error "><%= t('items.new.required') %></div>
          <%= form.label :level, style: "display: block", class: "font-bold"%>
        </h4>
          <%= form.select :level, ["入門", "基礎", "応用"],class: "select select-bordered  select-success w-full max-w-xs" %>
      </div>

      <div class="my-5">
        <h4 class="">
          <div class="badge badge-error "><%= t('items.new.required') %></div>
          <%= form.label :title, style: "display: block", class: "font-bold"%>
        </h4>
        <%= form.text_field :title, class: "input input-bordered input-success input-sm w-full max-w-xs" %>
      </div>

      <div class="my-5">
        <h4 class="">
          <div class="badge badge-ghost"><%= t('items.new.any') %></div>
          <%= form.label :content, style: "display: block", class: "font-bold"%>
        </h4>
        <%= form.rich_text_area :content, rows:"10", class: "overflow-auto h-1/2" %>
      </div>

      <div class="my-5">
        <%= form.label :quiz_image, style: "display: block" , class: "font-bold"%>
        <%= form.file_field :quiz_image, class: "file-input file-input-bordered file-input-success file-input-sm w-full max-w-xs", accept: 'image/*', id: "item_photos_attributes_0_image" %>
      </div>

      <div class="my-5">
        <h4 class="">
          <div class="badge badge-ghost"><%= t('items.new.any') %></div>
          <%= form.label :explanation, style: "display: block" , class: "font-bold"%>
        </h4>
        <%= form.rich_text_area :explanation, rows:"10", class: "overflow-auto h-1/2" %>
      </div>

      <div class="my-5">
        <%= form.label :explanation_image, style: "display: block" , class: "font-bold"%>
        <%= form.file_field :explanation_image, class: "file-input file-input-bordered file-input-success file-input-sm w-full max-w-xs", accept: 'image/*', id: "item_photos_attributes_0_image" %>
      </div>
        <h1 class="text-3xl text-center font-bold mt-16 mb-3">選択肢の作成</h1>
        <div>※選択肢は2〜4つ作成できます。</div>
        <%# 選択肢 %>

        <%= form.fields_for :choices do |choice_form| %>
          <div class="outline mt-10 p-10 rounded-md">
            <div class="my-5">
              <%= choice_form.label :content, style: "display: block", class: "font-bold"%>
              <%= choice_form.rich_text_area :content,rows:"10", class: "overflow-auto h-1/2" %>
            </div>

            <div class="my-5">
              <%= choice_form.label :choice_image, style: "display: block" , class: "font-bold"%>
              <%= choice_form.file_field :choice_image, class: "file-input file-input-bordered file-input-success file-input-sm w-full max-w-xs", accept: 'image/*', id: "item_photos_attributes_0_image" %>
            </div>

            <div class="my-5">
              <%= choice_form.label :is_correct, style: "display: block" , class: "font-bold"%>
              <%= choice_form.check_box :is_correct, class: "ml-2 text-sm font-medium text-gray-900 dark:text-gray-300" %>
            </div>

            <div class="my-5">
              <%= choice_form.label :explanation, style: "display: block" , class: "font-bold"%>
              <%= choice_form.rich_text_area :explanation, class: "overflow-auto h-1/2" %>
            </div>

            <div class="my-5">
              <%= choice_form.label :explanation_image, style: "display: block" , class: "font-bold"%>
              <%= choice_form.file_field :explanation_image ,class: "file-input file-input-bordered file-input-success file-input-sm w-full max-w-xs", accept: 'image/*', id: "item_photos_attributes_0_image" %>
            </div>

            <% if @quiz.persisted? %>
              <div>
                <%= choice_form.label :_destroy, t('quizzes.form.remove_choice'), style: "display: block" %>
                <%= choice_form.check_box :_destroy , class: "ml-2 text-sm font-medium text-gray-900 dark:text-gray-300" %>
              </div>
            <% end %>
          </div>
        <% end %>
    </div>
    <%= form.submit  class: 'btn btn-success mt-4 mb-28' %>
  <% end %>
</div>
