<div id="<%= dom_id quiz %>">
  <p>
    <strong><%= t("quizzes.quiz.category") %> :</strong>
    <%= quiz.category %>
  </p>

  <p>
    <strong><%= t("quizzes.quiz.level") %> :</strong>
    <%= quiz.level %>
  </p>

  <p>
    <strong><%= t("quizzes.quiz.title") %> :</strong>
    <%= quiz.title %>
  </p>

  <p>
    <strong><%= t("quizzes.quiz.content") %> :</strong>
    <%= quiz.content %>
  </p>

  <p>
    <strong><%= t("quizzes.quiz.image") %> :</strong>
    <%= quiz.quiz_image %>
  </p>

  <p>
    <strong><%= t("quizzes.quiz.explanation") %> :</strong>
    <%= quiz.explanation %>
  </p>

  <p>
    <strong><%= t("quizzes.quiz.explanation_image") %> :</strong>
    <%= quiz.explanation_image %>
  </p>

  <p>
    <strong><%= t("quizzes.quiz.choices") %> :</strong>
    <ul>
      <% quiz.choices.each do |choice| %>
        <li>
          <%= choice.content %>
          <%= choice.choice_image %>
          <%= choice.is_correct %>   <%# 本当はここで表示しない（解説ページで表示）%>
          <%= choice.explanation %>
          <%= choice.explanation_image %>
          <%= check_box :choice, { multiple: true } %>
        </li>
      <% end %>
    </ul>
  </p>
</div>
