<script src="https://unpkg.com/@sjmc11/tourguidejs/dist/tour.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://unpkg.com/@sjmc11/tourguidejs/dist/css/tour.min.css">
<p style="color: green"><%= notice %></p>
<div class="bg-white dark:bg-slate-800  dark:bg-gray-800 dark:text-white">
  <div class="flex flex-wrap w-full flex-col items-center text-center">
    <h1 class="sm:text-3xl text-2xl font-medium title-font mb-8 ">クイズ一覧</h1>
    <%= link_to t("quizzes.actions.new"), new_quiz_path ,class: "inline-flex items-center bg-blue-100 border py-1 px-3 focus:outline-none hover:bg-blue-50 rounded text-black mb-4" ,id:"three"%>
    <div class="container px-4 py-8 md:py-16 mx-auto">
      <div id="quizzes">
        <div class="flex flex-wrap -m-4" id="two">
          <% if @quizzes.present? %>
            <% @quizzes.each do |quiz|%>
              <div class="p-1 md:p-4 w-1/2 md:w-1/3">
                <div class="border border-gray-400 border-opacity-60 rounded-lg overflow-hidden shadow-lg">
                  <%if current_user.id == quiz.user_id %>
                    <div class="title w-8 mt-3 mx-auto">
                      <%= link_to "https://twitter.com/share?url=#{ request.url }&text=新しいクイズ%0a#{quiz.title}を作成しました%0a", title: 'Twitter', class: 'fab fa-twitter', target: '_blank' do %>
                        <svg viewBox="328 355 335 276" xmlns="http://www.w3.org/2000/svg">
                          <path d="
                            M 630, 425
                            A 195, 195 0 0 1 331, 600
                            A 142, 142 0 0 0 428, 570
                            A  70,  70 0 0 1 370, 523
                            A  70,  70 0 0 0 401, 521
                            A  70,  70 0 0 1 344, 455
                            A  70,  70 0 0 0 372, 460
                            A  70,  70 0 0 1 354, 370
                            A 195, 195 0 0 0 495, 442
                            A  67,  67 0 0 1 611, 380
                            A 117, 117 0 0 0 654, 363
                            A  65,  65 0 0 1 623, 401
                            A 117, 117 0 0 0 662, 390
                            A  65,  65 0 0 1 630, 425
                            Z"
                            style="fill:#3BA9EE;"/>
                        </svg>
                      <% end %>
                    </div>
                  <% end %>
                <%= link_to quiz_path(quiz.id) do %>
                  <%= image_tag "ogp.png", class: "h-48 md:h-64 w-full object-contain object-center", alt:"photo" %>
                  <p class="md:p-2 bg-slate-100 text-black"><%= quiz.title %><p>
                  <p><%= quiz.category%></p>
                  <p><%= quiz.level%></p>
                </div>
                <% end %>
              </div>
            <% end %>
          <% else %>
            <p>クイズはありません</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
