<footer class="bg-base-200 dark:bg-slate-800 text-base-content dark:text-white py-8 px-6 mt-auto">
  <div class="flex justify-center items-center">
    <div class="space-x-2">
      <%= link_to '開発メンバー', page_path('developers'), class: "link link-hover" %>
      <%= link_to '利用規約', page_path('terms'), class: "link link-hover" %>
      <%= link_to 'プライバシーポリシー', page_path('privacy_policy'), class: "link link-hover" %>
      <%= link_to 'お問い合わせ', 'https://forms.gle/kdcCEY96Eo3dzrB76', class: "link link-hover", id: "four" %>
    </div>

  </div>
  <div class="flex justify-center items-center">
    <%= link_to "https://github.com/furukawaeiichi/QUIZ_APP" do %>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="fill-current">
        <path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C5.27.65 4.09 1 4.09 1A5.07 5.07 0 0 0 4 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path>
      </svg>
    <% end %>
  </div>

  <p class="text-center text-sm mt-2">Copyright © 2023 - All right reserved by KnowledgeTreeQuiz</p>
</footer>
