<header class="bg-base-200 dark:bg-slate-800 px-6 py-3 dark:bg-gray-800 dark:text-white">
  <div class="navbar" id="one">
    <div class="navbar-start">
      <%=link_to  root_path, class: "btn btn-ghost flex text-xl " do%>
        <%= image_tag 'ogp.png', size: "100x100" %>
      <% end %>
    </div>
    <div class="navbar-end flex">
      <ul class="menu menu-horizontal p-0 mr-2">
        <li><%= link_to "クイズ一覧", quizzes_path, class:"dark:hover:text-yellow-400" %></li>
        <li><%= link_to "ユーザー編集", edit_user_registration_path, class:"dark:hover:text-yellow-400" %></li>
        <li><%= link_to "マイページ", user_path(current_user.id), class:"dark:hover:text-yellow-400" %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, class:"dark:hover:text-yellow-400", data: { turbo_method: :delete, turbo_confirm: 'ログアウトしますか？' } %></li>
        <% if current_user.provider %>
          <li><%= link_to '退会', user_registration_path, data: { turbo_method: :delete, turbo_confirm: "アカウントを削除してもよろしいですか？" } %></li>
        <% end %>
      </ul>
    </div>
    <div class="ml-auto">
      <input type="checkbox" class="toggle toggle-warning" id="toggle-dark-mode" checked />
      <label for="toggle-dark-mode">
        <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true"><!-- ... --></svg>
      </label>
    </div>
  </div>
</header>
