<div class="container">
  <div id="carousel">
    <div>
      <%= image_tag 'furuOgp.jpeg' %>
    </div>
    <div>
      <%= image_tag 'yuiOgp.jpeg' %>
    </div>
    <div>
      <%= image_tag 'renaOgp.png' %>
    </div>
    <div>
      <%= image_tag 'itoOgp.jpeg' %>
    </div>
    <div>
      <%= image_tag 'wataOgp.jpeg' %>
    </div>
    <div>
      <%= image_tag 'fujiOgp.png' %>
    </div>
    <div>
      <%= image_tag 'kumaOgp.png' %>
    </div>
  </div>
</div>
