<div class="container">
  <%# 1人目 %>
  <div class="card-wrapper">
    <div class="card profile-two">
      <div class="card-image profile-img--two">
        <div class="card-image text-white">
          <%= image_tag 'furuOgp.jpeg' %>
        </div>
      </div>
      <ul class="social-icons">
        <li>
          <a href="">
            <svg viewBox="328 355 335 276" xmlns="http://www.w3.org/2000/svg">
              <path d="
                M 630, 425
                A 195, 195 0 0 1 331, 600
                A 142, 142 0 0 0 428, 570
                A  70,  70 0 0 1 370, 523
                A  70,  70 0 0 0 401, 521
                A  70,  70 0 0 1 344, 455
                A  70,  70 0 0 0 372, 460
                A  70,  70 0 0 1 354, 370
                A 195, 195 0 0 0 495, 442
                A  67,  67 0 0 1 611, 380
                A 117, 117 0 0 0 654, 363
                A  65,  65 0 0 1 623, 401
                A 117, 117 0 0 0 662, 390
                A  65,  65 0 0 1 630, 425
                Z"
                style="fill:#3BA9EE;"/>
            </svg>
          </a>
        </li>
        <li>
          <a href="">
            G
          </a>
        </li>
      </ul>
      <div class="details jane">
        <h2>Furukawa
          <br>
          <span class="job-title">34期</span>
        </h2>
      </div>
    </div>
  </div>

  <%# 2人目 %>
  <div class="card-wrapper">
    <div class="card profile-two">
      <div class="card-image profile-img--two">
        <div class="card-image text-white">
          <%= image_tag 'yuiOgp.jpeg' %>
        </div>
      </div>
      <ul class="social-icons">
        <li>
          <a href="">
            <svg viewBox="328 355 335 276" xmlns="http://www.w3.org/2000/svg">
              <path d="
                M 630, 425
                A 195, 195 0 0 1 331, 600
                A 142, 142 0 0 0 428, 570
                A  70,  70 0 0 1 370, 523
                A  70,  70 0 0 0 401, 521
                A  70,  70 0 0 1 344, 455
                A  70,  70 0 0 0 372, 460
                A  70,  70 0 0 1 354, 370
                A 195, 195 0 0 0 495, 442
                A  67,  67 0 0 1 611, 380
                A 117, 117 0 0 0 654, 363
                A  65,  65 0 0 1 623, 401
                A 117, 117 0 0 0 662, 390
                A  65,  65 0 0 1 630, 425
                Z"
                style="fill:#3BA9EE;"/>
            </svg>
          </a>
        </li>
        <li>
          <a href="">
            G
          </a>
        </li>
      </ul>
      <div class="details jane">
        <h2>ゆいた
          <br>
          <span class="job-title">34期</span>
        </h2>
      </div>
    </div>
  </div>
  <%# 3人目 %>
    <div class="card-wrapper">
    <div class="card profile-two">
      <div class="card-image profile-img--two">
        <div class="card-image text-white">
          <%= image_tag 'renaOgp.png' %>
        </div>
      </div>
      <ul class="social-icons">
        <li>
          <a href="">
            <svg viewBox="328 355 335 276" xmlns="http://www.w3.org/2000/svg">
              <path d="
                M 630, 425
                A 195, 195 0 0 1 331, 600
                A 142, 142 0 0 0 428, 570
                A  70,  70 0 0 1 370, 523
                A  70,  70 0 0 0 401, 521
                A  70,  70 0 0 1 344, 455
                A  70,  70 0 0 0 372, 460
                A  70,  70 0 0 1 354, 370
                A 195, 195 0 0 0 495, 442
                A  67,  67 0 0 1 611, 380
                A 117, 117 0 0 0 654, 363
                A  65,  65 0 0 1 623, 401
                A 117, 117 0 0 0 662, 390
                A  65,  65 0 0 1 630, 425
                Z"
                style="fill:#3BA9EE;"/>
            </svg>
          </a>
        </li>
        <li>
          <a href="">
            G
          </a>
        </li>
      </ul>
      <div class="details jane">
        <h2>れなっち
          <br>
          <span class="job-title">34期</span>
        </h2>
      </div>
    </div>
  </div>
  <%# 4人目 %>
  <div class="card-wrapper">
    <div class="card profile-two">
      <div class="card-image profile-img--two">
        <div class="card-image text-white">
          <%= image_tag 'itoOgp.jpeg' %>
        </div>
      </div>
      <ul class="social-icons">
        <li>
          <a href="">
            <svg viewBox="328 355 335 276" xmlns="http://www.w3.org/2000/svg">
              <path d="
                M 630, 425
                A 195, 195 0 0 1 331, 600
                A 142, 142 0 0 0 428, 570
                A  70,  70 0 0 1 370, 523
                A  70,  70 0 0 0 401, 521
                A  70,  70 0 0 1 344, 455
                A  70,  70 0 0 0 372, 460
                A  70,  70 0 0 1 354, 370
                A 195, 195 0 0 0 495, 442
                A  67,  67 0 0 1 611, 380
                A 117, 117 0 0 0 654, 363
                A  65,  65 0 0 1 623, 401
                A 117, 117 0 0 0 662, 390
                A  65,  65 0 0 1 630, 425
                Z"
                style="fill:#3BA9EE;"/>
            </svg>
          </a>
        </li>
        <li>
          <a href="">
            G
          </a>
        </li>
      </ul>
      <div class="details jane">
        <h2>イトミキ
          <br>
          <span class="job-title">35期</span>
        </h2>
      </div>
    </div>
  </div>

  <%# 5人目 %>
  <div class="card-wrapper">
    <div class="card profile-two">
      <div class="card-image profile-img--two">
        <div class="card-image text-white">
          <%= image_tag 'wataOgp.jpeg' %>
        </div>
      </div>
      <ul class="social-icons">
        <li>
          <a href="">
            <svg viewBox="328 355 335 276" xmlns="http://www.w3.org/2000/svg">
              <path d="
                M 630, 425
                A 195, 195 0 0 1 331, 600
                A 142, 142 0 0 0 428, 570
                A  70,  70 0 0 1 370, 523
                A  70,  70 0 0 0 401, 521
                A  70,  70 0 0 1 344, 455
                A  70,  70 0 0 0 372, 460
                A  70,  70 0 0 1 354, 370
                A 195, 195 0 0 0 495, 442
                A  67,  67 0 0 1 611, 380
                A 117, 117 0 0 0 654, 363
                A  65,  65 0 0 1 623, 401
                A 117, 117 0 0 0 662, 390
                A  65,  65 0 0 1 630, 425
                Z"
                style="fill:#3BA9EE;"/>
            </svg>
          </a>
        </li>
        <li>
          <a href="">
            G
          </a>
        </li>
      </ul>
      <div class="details jane">
        <h2>わたなべ
          <br>
          <span class="job-title">38期</span>
        </h2>
      </div>
    </div>
  </div>

  <%# 6人目 %>
  <div class="card-wrapper">
    <div class="card profile-two">
      <div class="card-image profile-img--two">
        <div class="card-image text-white">
          <%= image_tag 'fujiOgp.png' %>
        </div>
      </div>
      <ul class="social-icons">
        <li>
          <a href="">
            <svg viewBox="328 355 335 276" xmlns="http://www.w3.org/2000/svg">
              <path d="
                M 630, 425
                A 195, 195 0 0 1 331, 600
                A 142, 142 0 0 0 428, 570
                A  70,  70 0 0 1 370, 523
                A  70,  70 0 0 0 401, 521
                A  70,  70 0 0 1 344, 455
                A  70,  70 0 0 0 372, 460
                A  70,  70 0 0 1 354, 370
                A 195, 195 0 0 0 495, 442
                A  67,  67 0 0 1 611, 380
                A 117, 117 0 0 0 654, 363
                A  65,  65 0 0 1 623, 401
                A 117, 117 0 0 0 662, 390
                A  65,  65 0 0 1 630, 425
                Z"
                style="fill:#3BA9EE;"/>
            </svg>
          </a>
        </li>
        <li>
          <a href="">
            G
          </a>
        </li>
      </ul>
      <div class="details jane">
        <h2>ふじい
          <br>
          <span class="job-title">36期</span>
        </h2>
      </div>
    </div>
  </div>

  <%# 7人目 %>
  <div class="card-wrapper">
    <div class="card profile-two">
      <div class="card-image profile-img--two">
        <div class="card-image text-white">
          <%= image_tag 'kumaOgp.png' %>
        </div>
      </div>
      <ul class="social-icons">
        <li>
          <a href="">
            <svg viewBox="328 355 335 276" xmlns="http://www.w3.org/2000/svg">
              <path d="
                M 630, 425
                A 195, 195 0 0 1 331, 600
                A 142, 142 0 0 0 428, 570
                A  70,  70 0 0 1 370, 523
                A  70,  70 0 0 0 401, 521
                A  70,  70 0 0 1 344, 455
                A  70,  70 0 0 0 372, 460
                A  70,  70 0 0 1 354, 370
                A 195, 195 0 0 0 495, 442
                A  67,  67 0 0 1 611, 380
                A 117, 117 0 0 0 654, 363
                A  65,  65 0 0 1 623, 401
                A 117, 117 0 0 0 662, 390
                A  65,  65 0 0 1 630, 425
                Z"
                style="fill:#3BA9EE;"/>
            </svg>
          </a>
        </li>
        <li>
          <a href="">
            G
          </a>
        </li>
      </ul>
      <div class="details jane">
        <h2>くま
          <br>
          <span class="job-title">37期</span>
        </h2>
      </div>
    </div>
  </div>
</div>
