<div class="developers">
  <h1>開発者ページ</h1>
  <div class="container">
    <div class="faders">
      <div class="left"></div>
      <div class="right"></div>
    </div>
    <div class="items">
      <div class="entry">
        <p class="name">Furukawa</p>
        <%= image_tag 'furukawa.jpeg', class: "profile_img" %>
        <%= image_tag 'furuOgp.jpeg', class: "ogp_img"%>
        <div class="quote">
          34期
          <svg viewBox="328 355 335 276" xmlns="http://www.w3.org/2000/svg">
            <path d="
              M 630, 425
              A 195, 195 0 0 1 331, 600
              A 142, 142 0 0 0 428, 570
              A  70,  70 0 0 1 370, 523
              A  70,  70 0 0 0 401, 521
              A  70,  70 0 0 1 344, 455
              A  70,  70 0 0 0 372, 460
              A  70,  70 0 0 1 354, 370
              A 195, 195 0 0 0 495, 442
              A  67,  67 0 0 1 611, 380
              A 117, 117 0 0 0 654, 363
              A  65,  65 0 0 1 623, 401
              A 117, 117 0 0 0 662, 390
              A  65,  65 0 0 1 630, 425
              Z"
              style="fill:#3BA9EE;"/>
          </svg>
        </div>
      </div>
      <div class="entry">
        <p class="name">ゆいた</p>
        <%= image_tag 'yuita.jpeg', class: "profile_img" %>
        <%= image_tag 'yuiOgp.jpeg', class: "ogp_img"%>
        <p class="quote">
          34期
          <svg viewBox="328 355 335 276" xmlns="http://www.w3.org/2000/svg">
            <path d="
              M 630, 425
              A 195, 195 0 0 1 331, 600
              A 142, 142 0 0 0 428, 570
              A  70,  70 0 0 1 370, 523
              A  70,  70 0 0 0 401, 521
              A  70,  70 0 0 1 344, 455
              A  70,  70 0 0 0 372, 460
              A  70,  70 0 0 1 354, 370
              A 195, 195 0 0 0 495, 442
              A  67,  67 0 0 1 611, 380
              A 117, 117 0 0 0 654, 363
              A  65,  65 0 0 1 623, 401
              A 117, 117 0 0 0 662, 390
              A  65,  65 0 0 1 630, 425
              Z"
              style="fill:#3BA9EE;"/>
          </svg>
        </p>
      </div>
      <div class="entry">
        <p class="name">れなっち</p>
        <%= image_tag 'renatti.jpeg', class: "profile_img" %>
        <%= image_tag 'renaOgp.png', class: "ogp_img"%>
        <p class="quote">
          34期
          <svg viewBox="328 355 335 276" xmlns="http://www.w3.org/2000/svg">
            <path d="
              M 630, 425
              A 195, 195 0 0 1 331, 600
              A 142, 142 0 0 0 428, 570
              A  70,  70 0 0 1 370, 523
              A  70,  70 0 0 0 401, 521
              A  70,  70 0 0 1 344, 455
              A  70,  70 0 0 0 372, 460
              A  70,  70 0 0 1 354, 370
              A 195, 195 0 0 0 495, 442
              A  67,  67 0 0 1 611, 380
              A 117, 117 0 0 0 654, 363
              A  65,  65 0 0 1 623, 401
              A 117, 117 0 0 0 662, 390
              A  65,  65 0 0 1 630, 425
              Z"
              style="fill:#3BA9EE;"/>
          </svg>
        </p>
      </div>
      <div class="entry">
        <p class="name">いとみき</p>
        <%= image_tag 'itomiki.png', class: "profile_img" %>
        <%= image_tag 'itoOgp.jpeg', class: "ogp_img"%>
        <p class="quote">
          35期
          <svg viewBox="328 355 335 276" xmlns="http://www.w3.org/2000/svg">
            <path d="
              M 630, 425
              A 195, 195 0 0 1 331, 600
              A 142, 142 0 0 0 428, 570
              A  70,  70 0 0 1 370, 523
              A  70,  70 0 0 0 401, 521
              A  70,  70 0 0 1 344, 455
              A  70,  70 0 0 0 372, 460
              A  70,  70 0 0 1 354, 370
              A 195, 195 0 0 0 495, 442
              A  67,  67 0 0 1 611, 380
              A 117, 117 0 0 0 654, 363
              A  65,  65 0 0 1 623, 401
              A 117, 117 0 0 0 662, 390
              A  65,  65 0 0 1 630, 425
              Z"
              style="fill:#3BA9EE;"/>
          </svg>
        </p>
      </div>
      <div class="entry">
        <p class="name">わたなべ</p>
        <%= image_tag 'watanabe.jpeg', class: "profile_img" %>
        <%= image_tag 'wataOgp.jpeg', class: "ogp_img"%>
        <p class="quote">
          38期
          <svg viewBox="328 355 335 276" xmlns="http://www.w3.org/2000/svg">
            <path d="
              M 630, 425
              A 195, 195 0 0 1 331, 600
              A 142, 142 0 0 0 428, 570
              A  70,  70 0 0 1 370, 523
              A  70,  70 0 0 0 401, 521
              A  70,  70 0 0 1 344, 455
              A  70,  70 0 0 0 372, 460
              A  70,  70 0 0 1 354, 370
              A 195, 195 0 0 0 495, 442
              A  67,  67 0 0 1 611, 380
              A 117, 117 0 0 0 654, 363
              A  65,  65 0 0 1 623, 401
              A 117, 117 0 0 0 662, 390
              A  65,  65 0 0 1 630, 425
              Z"
              style="fill:#3BA9EE;"/>
          </svg>
        </p>
      </div>
      <div class="entry">
        <p class="name">36期ふじい</p>
        <%= image_tag 'fujii.jpeg', class: "profile_img" %>
        <%= image_tag 'fujiOgp.png' , class: "ogp_img"%>
        <p class="quote">
          36期
          <svg viewBox="328 355 335 276" xmlns="http://www.w3.org/2000/svg">
            <path d="
              M 630, 425
              A 195, 195 0 0 1 331, 600
              A 142, 142 0 0 0 428, 570
              A  70,  70 0 0 1 370, 523
              A  70,  70 0 0 0 401, 521
              A  70,  70 0 0 1 344, 455
              A  70,  70 0 0 0 372, 460
              A  70,  70 0 0 1 354, 370
              A 195, 195 0 0 0 495, 442
              A  67,  67 0 0 1 611, 380
              A 117, 117 0 0 0 654, 363
              A  65,  65 0 0 1 623, 401
              A 117, 117 0 0 0 662, 390
              A  65,  65 0 0 1 630, 425
              Z"
              style="fill:#3BA9EE;"/>
          </svg>
        </p>
      </div>
      <div class="entry">
        <p class="name">37期くま</p>
        <%= image_tag 'kuma.jpeg', class: "profile_img" %>
        <%= image_tag 'kumaOgp.png', class: "ogp_img"%>
        <p class="quote">
          37期
          <svg viewBox="328 355 335 276" xmlns="http://www.w3.org/2000/svg">
            <path d="
              M 630, 425
              A 195, 195 0 0 1 331, 600
              A 142, 142 0 0 0 428, 570
              A  70,  70 0 0 1 370, 523
              A  70,  70 0 0 0 401, 521
              A  70,  70 0 0 1 344, 455
              A  70,  70 0 0 0 372, 460
              A  70,  70 0 0 1 354, 370
              A 195, 195 0 0 0 495, 442
              A  67,  67 0 0 1 611, 380
              A 117, 117 0 0 0 654, 363
              A  65,  65 0 0 1 623, 401
              A 117, 117 0 0 0 662, 390
              A  65,  65 0 0 1 630, 425
              Z"
              style="fill:#3BA9EE;"/>
          </svg>
        </p>
      </div>
      <div class="entry">
        <p class="name">あなた</p>
        <%= image_tag 'ogp.png' , class: "ogp_img"%>
        <p class="quote">
          ??期
          <svg viewBox="328 355 335 276" xmlns="http://www.w3.org/2000/svg">
            <path d="
              M 630, 425
              A 195, 195 0 0 1 331, 600
              A 142, 142 0 0 0 428, 570
              A  70,  70 0 0 1 370, 523
              A  70,  70 0 0 0 401, 521
              A  70,  70 0 0 1 344, 455
              A  70,  70 0 0 0 372, 460
              A  70,  70 0 0 1 354, 370
              A 195, 195 0 0 0 495, 442
              A  67,  67 0 0 1 611, 380
              A 117, 117 0 0 0 654, 363
              A  65,  65 0 0 1 623, 401
              A 117, 117 0 0 0 662, 390
              A  65,  65 0 0 1 630, 425
              Z"
              style="fill:#3BA9EE;"/>
          </svg>
        </p>
      </div>
    </div>
  </div>
</div>
