<div class="developers">
  <div class="container">
    <div class="items">
      <div class="entry">
        <p class="name">ふるかわ</p>
        <%= image_tag "furukawa.jpg", class: "profile_img" %>
        <%= link_to image_tag("furuOgp.jpg", class: "ogp_img"), "https://www.credo-quest.com/" %>
        <p class="quote">
          34期
          <%= link_to "https://twitter.com/frkweiichi" do %>
            <svg viewBox="328 355 335 276" xmlns="http://www.w3.org/2000/svg">
              <path d="
                M 630, 425
                A 195, 195 0 0 1 331, 600
                A 142, 142 0 0 0 428, 570
                A  70,  70 0 0 1 370, 523
                A  70,  70 0 0 0 401, 521
                A  70,  70 0 0 1 344, 455
                A  70,  70 0 0 0 372, 460
                A  70,  70 0 0 1 354, 370
                A 195, 195 0 0 0 495, 442
                A  67,  67 0 0 1 611, 380
                A 117, 117 0 0 0 654, 363
                A  65,  65 0 0 1 623, 401
                A 117, 117 0 0 0 662, 390
                A  65,  65 0 0 1 630, 425
                Z"
                style="fill:#3BA9EE;"/>
            </svg>
          <% end %>
        </p>
      </div>
      <div class="entry">
        <p class="name">ゆいた</p>
        <%= image_tag "yuita.jpg", class: "profile_img" %>
        <%= link_to image_tag("yuiOgp.jpg", class: "ogp_img"), "https://www.anyone-design.com/" %>
        <p class="quote">
          34期
          <%= link_to "https://twitter.com/yuita_0360" do %>
            <svg viewBox="328 355 335 276" xmlns="http://www.w3.org/2000/svg">
              <path d="
                M 630, 425
                A 195, 195 0 0 1 331, 600
                A 142, 142 0 0 0 428, 570
                A  70,  70 0 0 1 370, 523
                A  70,  70 0 0 0 401, 521
                A  70,  70 0 0 1 344, 455
                A  70,  70 0 0 0 372, 460
                A  70,  70 0 0 1 354, 370
                A 195, 195 0 0 0 495, 442
                A  67,  67 0 0 1 611, 380
                A 117, 117 0 0 0 654, 363
                A  65,  65 0 0 1 623, 401
                A 117, 117 0 0 0 662, 390
                A  65,  65 0 0 1 630, 425
                Z"
                style="fill:#3BA9EE;"/>
            </svg>
          <% end %>
        </p>
      </div>
      <div class="entry">
        <p class="name">れなっち</p>
        <%= image_tag "renatti.jpg", class: "profile_img" %>
        <%= link_to image_tag("renaOgp.png", class: "ogp_img"), "https://mofu-right.fly.dev/" %>
        <p class="quote">
          34期
          <%= link_to "https://twitter.com/hfslca7439" do %>
            <svg viewBox="328 355 335 276" xmlns="http://www.w3.org/2000/svg">
              <path d="
                M 630, 425
                A 195, 195 0 0 1 331, 600
                A 142, 142 0 0 0 428, 570
                A  70,  70 0 0 1 370, 523
                A  70,  70 0 0 0 401, 521
                A  70,  70 0 0 1 344, 455
                A  70,  70 0 0 0 372, 460
                A  70,  70 0 0 1 354, 370
                A 195, 195 0 0 0 495, 442
                A  67,  67 0 0 1 611, 380
                A 117, 117 0 0 0 654, 363
                A  65,  65 0 0 1 623, 401
                A 117, 117 0 0 0 662, 390
                A  65,  65 0 0 1 630, 425
                Z"
                style="fill:#3BA9EE;"/>
            </svg>
          <% end %>
        </p>
      </div>
      <div class="entry">
        <p class="name">いとみき</p>
        <%= image_tag "itomiki.png", class: "profile_img" %>
        <%= link_to image_tag("itoOgp.jpg", class: "ogp_img"), "https://www.angrycard-generator.com/" %>
        <p class="quote">
          35期
          <%= link_to "https://twitter.com/itomiki_hiyoko" do %>
            <svg viewBox="328 355 335 276" xmlns="http://www.w3.org/2000/svg">
              <path d="
                M 630, 425
                A 195, 195 0 0 1 331, 600
                A 142, 142 0 0 0 428, 570
                A  70,  70 0 0 1 370, 523
                A  70,  70 0 0 0 401, 521
                A  70,  70 0 0 1 344, 455
                A  70,  70 0 0 0 372, 460
                A  70,  70 0 0 1 354, 370
                A 195, 195 0 0 0 495, 442
                A  67,  67 0 0 1 611, 380
                A 117, 117 0 0 0 654, 363
                A  65,  65 0 0 1 623, 401
                A 117, 117 0 0 0 662, 390
                A  65,  65 0 0 1 630, 425
                Z"
                style="fill:#3BA9EE;"/>
            </svg>
          <% end %>
        </p>
      </div>
      <div class="entry">
        <p class="name">りょーた</p>
        <%= image_tag "watanabe.jpg", class: "profile_img" %>
        <%= link_to image_tag("wataOgp.jpg", class: "ogp_img", size: "300x200"), "https://www.d-photomap.com/" %>
        <p class="quote">
          38期
          <%= link_to "https://twitter.com/TonyStark202210" do %>
            <svg viewBox="328 355 335 276" xmlns="http://www.w3.org/2000/svg">
              <path d="
                M 630, 425
                A 195, 195 0 0 1 331, 600
                A 142, 142 0 0 0 428, 570
                A  70,  70 0 0 1 370, 523
                A  70,  70 0 0 0 401, 521
                A  70,  70 0 0 1 344, 455
                A  70,  70 0 0 0 372, 460
                A  70,  70 0 0 1 354, 370
                A 195, 195 0 0 0 495, 442
                A  67,  67 0 0 1 611, 380
                A 117, 117 0 0 0 654, 363
                A  65,  65 0 0 1 623, 401
                A 117, 117 0 0 0 662, 390
                A  65,  65 0 0 1 630, 425
                Z"
                style="fill:#3BA9EE;"/>
            </svg>
          <% end %>
        </p>
      </div>
      <div class="entry">
        <p class="name">ふじい</p>
        <%= image_tag "fujii.jpg", class: "profile_img" %>
        <%= link_to image_tag("fujiOgp.png", class: "ogp_img"), "https://fest-hunt.herokuapp.com/" %>
        <p class="quote">
          36期
          <%= link_to "https://twitter.com/truelovekosuke" do %>
            <svg viewBox="328 355 335 276" xmlns="http://www.w3.org/2000/svg">
              <path d="
                M 630, 425
                A 195, 195 0 0 1 331, 600
                A 142, 142 0 0 0 428, 570
                A  70,  70 0 0 1 370, 523
                A  70,  70 0 0 0 401, 521
                A  70,  70 0 0 1 344, 455
                A  70,  70 0 0 0 372, 460
                A  70,  70 0 0 1 354, 370
                A 195, 195 0 0 0 495, 442
                A  67,  67 0 0 1 611, 380
                A 117, 117 0 0 0 654, 363
                A  65,  65 0 0 1 623, 401
                A 117, 117 0 0 0 662, 390
                A  65,  65 0 0 1 630, 425
                Z"
                style="fill:#3BA9EE;"/>
            </svg>
          <% end %>
        </p>
      </div>
      <div class="entry">
        <p class="name">くま</p>
        <%= image_tag "kuma.jpg", class: "profile_img" %>
        <%= link_to image_tag("kumaOgp.png", class: "ogp_img"), "https://pf-gacha.web.app/" %>
        <p class="quote">
          37期
          <%= link_to "https://twitter.com/ZCunkuma" do %>
            <svg viewBox="328 355 335 276" xmlns="http://www.w3.org/2000/svg">
              <path d="
                M 630, 425
                A 195, 195 0 0 1 331, 600
                A 142, 142 0 0 0 428, 570
                A  70,  70 0 0 1 370, 523
                A  70,  70 0 0 0 401, 521
                A  70,  70 0 0 1 344, 455
                A  70,  70 0 0 0 372, 460
                A  70,  70 0 0 1 354, 370
                A 195, 195 0 0 0 495, 442
                A  67,  67 0 0 1 611, 380
                A 117, 117 0 0 0 654, 363
                A  65,  65 0 0 1 623, 401
                A 117, 117 0 0 0 662, 390
                A  65,  65 0 0 1 630, 425
                Z"
                style="fill:#3BA9EE;"/>
            </svg>
          <% end %>
        </p>
      </div>
      <div class="entry">
        <p class="name">あなた</p>
        <%= image_tag "ogp.png", class: "profile_img" %>
        <%= image_tag "ogp.png", class: "ogp_img"%>
        <p class="quote">
          ??期
          <br>
          一緒に知識の木を育てよう！🌳✨
        </p>
      </div>
    </div>
  </div>
</div>
